@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@500&display=swap");

* {
  font-family: "Encode Sans", sans-serif;
}

html, body {
  width: auto !important;
  overflow-x: hidden !important;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

#header-ministerioDesarrollo {
  height: 106px;
  background: #37bbed;
  box-shadow: 0px 1px 5px 2px #0000003f !important;
  z-index: 1;
}

#header-ministerioDesarrollo img {
  margin-top: 20px;
}

#header-ministerioDesarrollo .userMenu {
  margin-top: 50px;
  height: 40px;
}

#header-ministerioDesarrollo .userMenu i {
  font-size: 20px;
}


#header-ministerioDesarrollo .userMenu a {
  text-decoration: none;
  color: #ffff;
}

#header-ministerioDesarrollo .userMenu li a {
  text-decoration: none;
  color: #030303;
  padding: 0px 30px 0px 10px;
  margin-bottom: 10px;
}

#header-ministerioDesarrollo .userMenu li {
  margin: 10px 0px;
}

#header-ministerioDesarrollo .userMenu li:hover {
  background-color: #f5f5f5;
}
#header-ministerioDesarrollo .userMenu li a:hover {
  color: #030303ab;
}


#footer-ministerioDesarrollo {
  height: 202;
  background: #37bbed;
  z-index: 1;
}

header img,
footer img {
  max-height: 66.4px;
}

.info-footer img {
  margin-top: 75px;
}

.terminos-footer {
  font-size: 0.9rem;
  margin-top: 50px;
}

@media (min-width: 575px) {
  #footer-ministerioDesarrollo {
    height: 202px;
  }

  .terminos-footer {
    font-size: 1.1rem;
  }
}


@media (min-width: 768px) {

  #header-ministerioDesarrollo .userMenu {
    margin-top: 40px;
  }

  #header-ministerioDesarrollo .userMenu .userMenuName {
    font-size: 20px;
    color: #ffff;
    font-weight: bold;
    letter-spacing: 1px;
  }
}

@media (min-width: 1024px) {

  #header-ministerioDesarrollo .userMenu li a {
    padding: 0px 60px 0px 20px;
    font-size: 18px !important;
  }
}