@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@500&display=swap");

* {
  font-family: "Encode Sans", sans-serif;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

#header-ministerioDesarrollo {
  height: 106px;
  background: #37bbed;
  box-shadow: 0px 1px 5px 2px #0000003f !important;
  z-index: 1;
}

#header-ministerioDesarrollo img {
  margin-top: 20px;
}

#footer-ministerioDesarrollo {
  height: 202;
  background: #37bbed;
  z-index: 1;
}

header img,
footer img {
  max-height: 66.4px;
}

.info-footer img {
  margin-top: 75px;
}

.terminos-footer {
  font-size: 0.9rem;
  margin-top: 50px;
}

@media (min-width: 575px) {
  #footer-ministerioDesarrollo {
    height: 202px;
  }

  .terminos-footer {
    font-size: 1.1rem;
  }
}
